body {
  max-width: 375px;
  margin: auto;
  background: #ddd;
  font-family: Work Sans;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  background-color: #cfef4f;
  color:#aa4eaa;
}

.nav {
  display:flex;
  flex-direction: column;
  align-items: baseline;
  text-decoration: none;
  align-items:center;
  border:#aa4eaa solid 15px;
  padding: 20px 0 20px 0;
}

header {
  background-image: url(../img/bckground.png);
  font-weight: 700;
  position:relative;
}

.star-shape {
  height: 160px;
  position:absolute; 
  bottom: 430px;
  left: 260px;
}

.date {
  font-size: 30px;
  padding-left: 30px;
}

h1 {
  padding: 20px 30px 30px;
}

.pink {
  background-color: #aa4eaa;
  padding: 15px;
  border-top:#5cc4eb 15px solid;
  border-left:#5cc4eb 15px solid;
  position:relative;
}

.hashtag-shape {
  position: absolute;
  bottom: 420px;
  left: 235px;
  height: 250px;
}

.blue {
  background-color: #5cc4eb;
  padding: 15px;
  border-left: #cfef4f 15px solid;
  position:relative;
}

.skate-shape {
  position: absolute;
  right: 106px;
  height: 413px;
  bottom: 910px;
}

.music-shape {
  position: absolute;
  bottom: 133px;
  height: 302px;
  left: 168px;
  transform: rotate(32deg);
}

.sparkle-shape {
  position: absolute;
  height: 241px;
  left: 266px;
  bottom: 800px;
}

.star-shape-blue {
  position:absolute;
  height: 272px;
  bottom: 270px;
  left: 226px;
}

h2 {
  color:#cfef4f;
  font-family: Rubik ;
  font-weight:900;
  font-size:40px;
  text-transform: uppercase;
}

p {
  color:#cfef4f;
}

.big {
  color:#aa4eaa;
  font-weight: 700;
}

.bigblue {
  color:#5cc4eb;
  font-weight: 700;
}

.schedule {
  text-align: center;
}

footer {
  background-color: #cfef4f;
  color:#aa4eaa;
  padding: 15px;
}

.footer {
  color:#aa4eaa;
  font-weight: 600;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

