body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  font-family: Work Sans;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  background-color: #cfef4f;
  color:#aa4eaa;
  
}

header {
  background-image: url(../img/mur-plein-vieilles-annonces.png);
  font-weight: 700;
}

h1 {
  padding: 0 30px 30px;
}

.pink {
  background-color: #aa4eaa;
  padding: 15px;
}

.blue {
  background-color: #5cc4eb;
  padding: 15px;
}

h2 {
  color:#cfef4f;
  font-weight:700;
  font-size:xx-large;
  text-transform: uppercase;
}

p {
  color:#cfef4f;
}

.big {
  color:#aa4eaa;
  font-weight: 700;
}

.bigblue {
  color:#5cc4eb;
  font-weight: 700;
}

.schedule {
  text-align: center;
}

footer {
  background-color: #cfef4f;
  color:#aa4eaa;
  padding: 15px;
}

.footer {
  color:#aa4eaa;
  font-weight: 600;
}